.img {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.dummy {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.wrap {
  position: relative;
  outline: solid var(--greyBF);
}
.preloadWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}