.header {
  padding: 15px;
  background-color: var(--greyE6);
}

.gridContainer {
  display: grid;
  grid-template-columns: 45px 2fr 45px;
  align-items: center;
  gap: 15px;
}

.gridContainer > * {
  max-width: 100%;
}

@media (min-width: 768px) {
  .header {
      padding: 20px 30px;
  }

  .gridContainer {
      grid-template-columns: 50px 2fr 50px;
      gap: 30px;
  }
}