:root {
  --black: #333333;
  --orange: #cc6633;
  --blue: #285784;
  --green: #5bb12c;
  --white: hsl(0, 0%, 100%);
  --grayF5: hsl(0, 0%, 96%);
  --greyED: hsl(0, 0%, 93%);
  --greyE6: hsl(0, 0%, 90%);
  --greyD9: hsl(0, 0%, 85%);
  --greyBF: hsl(0, 0%, 75%);
  --grey99: hsl(0, 0%, 60%);
  --grey66: hsl(0, 0%, 40%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
